.estimated_wrapper_section, 
.fare_wrapper_section {
    background: linear-gradient(to bottom,rgba(45,0,120,.9),rgb(45,0,100));
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fare_wrapper_section {
    background:#d7cde2;
    height: auto;
    padding: 20px 0;
}
.fare_wrapper_box {
    box-shadow: 0 4px 10px #40196426;
    border: 1px solid #dcdcdc;
    background: #fff;
    border-radius: 10px;
}
.fare_wrapper_container,
.estimated_wrapper_section .estimated_wrapper_container {
    max-width: 752px;
    margin: 0 auto;
    width: 100%;
    position: relative;
}
.fare_wrapper_container {
    max-width: 800px;
}
.fare_header_tab,
.estimated_wrapper_section .estimated_header_section {
    background: linear-gradient(to right,#fabf47,#ffd445);
    padding: 15px 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.estimated_wrapper_section .estimated_body_section {
    background-color: #ffcf4c;
    padding: 15px 20px;
}
.estimated_wrapper_section .estimated_footer_section{
    background-color: #fed975;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 15px 20px;
}
.title_5 {
    color: #6728A1;
    font-size: 24px;
    font-weight: 700;
}
.fare_body_section {
    padding: 20px;
}
.fare_header_tab {
    background: #ededed;
    padding: 0;
    overflow: hidden;
}
.fare_header_tab ul {
    padding-left: 0;
    display: flex;
    justify-content: space-evenly;
}
.fare_header_tab ul li {
    list-style-type: none;
    width: 100%;
    cursor: not-allowed;
}
.fare_header_tab ul li a {
    display: inline-block;
    padding: 10px 20px;
    width: 100%;
    color: #AFAFAF;
    pointer-events: none;
    display: flex;
    align-items: center;
    gap: 10px;
}
.fare_header_tab ul li.allow {
    cursor: pointer;
}
.fare_header_tab ul li.allow a {
    color: #4a4a4a;
    background: rgba(36,205,133,.11);
    pointer-events: inherit;
}
.fare_header_tab ul li.allow circle,
.fare_header_tab ul li.allow ellipse,
.fare_header_tab ul li.allow path,
.fare_header_tab ul li.allow g,
.fare_header_tab ul li.allow svg {
    fill: #24CD85
}
.fare_header_tab ul li.active a {
    background: #fff;
    color: #5A238D;
    font-weight: 700;
    pointer-events: none;
}
.fare_header_tab ul li.active circle,
.fare_header_tab ul li.active ellipse,
.fare_header_tab ul li.active path,
.fare_header_tab ul li.active g,
.fare_header_tab ul li.active svg {
    fill: #5A238D;
}
.estimated_wrapper_section .title_1 {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}
.estimated_wrapper_section .estimated_footer_section {
    text-align: right;  
}
.estimated_wrapper_section .estimated_button_submit,
.fare_button_submit,
.estimated_button_submit {
    border-bottom: 4px solid #198c5b;
    background: #24cd85;
    color: #fff;
    transition: .2s;
    height: 3rem;
    font-size: 16px;
    font-weight: 700;
    min-width: 114px;
    position: relative;
    cursor: pointer;
    border-radius: 0.375rem;
    padding: 0 35px;
    text-align: center;
}
.fare_button_submit {
    padding: 0 20px;
}
.fare_button_submit {
    color: #fff !important;
}
.fare_button_submit:hover,
.estimated_wrapper_section .estimated_button_submit:hover {
    background: #20b777;
    border-color: #198c5b;
}
.estimated_input_wrapper {
    background: #fff;
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    padding: 0 10px;
    border-radius: 8px;
    width: 100%;
}
.fare_wrapper_section input,
.estimated_wrapper_section input {
    border-radius: 0 !important;
    border: none !important;
    outline: none !important;
}
.estimated_input_wrapper input {
    height: 35px;
}
.estimated_pin {
    width: 11px;
    height: 11px;
    display: inline-block;
    border: 2px solid #5a238d;
    border-radius: 100px;
    position: relative;
}
.estimated_pin:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    background: #b17c73;
    min-height: calc(100% + 25px);
    width: 4px;
    transform: translateX(-50%);
    margin-top: 4px;
}
.estimated_plus:after {
    min-height: calc(100% + 13px);
}
.estimated_input_with_pin {
    display: flex;
    align-items: center;
    gap: 10px;
}
.estimated_plus {
    border-width: 1px;
    height: 15px;
    width: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: -2px;
}
.estimated_plus svg {
    height: 8px;
    fill: #5a238d;
}
.estimated_input_with_pin {
    margin-bottom: 10px;
}
.estimated_input_with_pin_margin{
    margin: 20px 0;
}
.estimated_location {
    width: auto;
    height: auto;
    display: inline-block;
    border: none;
    border-radius: 0;
}
.estimated_location::after {
    content: inherit;
}
.estimated_location svg {
    width: auto;
    height: 17px;
    margin-left: -3px;
}
.estimated_location svg path {
    fill: #5a238d;
}
.estimated_input_cross {
    display: flex;
}
.estimated_wrapper_section .estimated_pin_wrapper {
    cursor: pointer;
}
.estimated_pin_wrapper + a:hover,
.estimated_pin_wrapper:hover + a {
    text-decoration: underline;
}
.title_3 {
    font-size: 14px;
    color: #5a238d;
    font-weight: normal;
}
.title_3_gap {
    margin: 15px 0;
}
.estimated_wrapper_section .title_2 {
    font-size: 15px;
    font-weight: 700;
    color: #5a238d;
}
.estimated_wrapper_section .estimated_radio_circle {
    width: 16px;
    height: 16px;
    display: inline-block;
    border: 1px solid #5a238d;
    border-radius: 100px;
    position: relative;
    background: #fff;
}
.estimated_wrapper_section .estimated_radio_circle::after {
    content: "";
    background: #5a238d;
    opacity: 0;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    left: 2px;
    top: 2px;
    position: absolute;
    border-radius: 100px;
}
.estimated_wrapper_section .estimated_radio_circle.active::after {
    opacity: 1;
}
.estimated_wrapper_section .estimated_input_radio_section {
    display: flex;
    align-items: center;
    gap: 20px;
}
.estimated_wrapper_section #retour_confirm,
.estimated_wrapper_section .estimated_input_radio_wrapper input[type="radio"] {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}
.estimated_wrapper_section .estimated_input_radio_wrapper label {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #5a238d;
}
.estimated_input_icon {
    font-size: 15px;
    color: #5a238d;
    display: flex;
}
.estimated_wrapper_section .estimated_body_section {
    display: grid;
    grid-template-columns: 1.7fr 1fr;
    gap: 50px;
}
.estimated_wrapper_section .estimated_body_right {
    border-left: 1px solid #fcbb40;
    padding-left: 15px;
}
.estimated_wrapper_section .estimated_check_circle {
    border: none;
    border-radius: 5px;
    background: #fff;
}
.estimated_wrapper_section .estimated_check_circle::after {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 5px;
}
.estimated_wrapper_section .estimated_check_circle.active svg {
    position: relative;
    z-index: 1;
    margin-top: -10px;
}
.estimated_wrapper_section .estimated_input_disabled {
    pointer-events: none;
    opacity: 0.5;
}
.estimated_wrapper_section .estimated_input_radio_wrapper_topgap {
    margin-top: 30px;
}
.estimated_wrapper_section .estimated_addresss {
    width: 70%;
    border-right: 1px solid #dbdbdb !important;
}
.estimated_wrapper_section .estimated_holding {
    width: 30%;
}
.person_count {
    text-align: center;
}
.estimated_input_count {
    width: 100px;
}
.estimated_count_minus,
.estimated_count_add {
    display: flex;
}
.estimated_input_count_border {
    border: 1px solid #dfdfdf;
}
.fare_body_top_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 25px 0;
}
.fare_d_flex_center {
    display: flex;
    align-items: center;
    gap: 10px;
}
.title_6 {
    color: #6728A1;
}
.car_list_fare_item {
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr;
    align-items: center;
    gap: 30px;
    box-shadow: 0 1px 3px #00000026, 0 1px 2px #00000026;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    border: 3px solid transparent;
    background-color: #fafafa;
}
.car_list_fare_item:hover {
    box-shadow: 0 3px 5px #00000026, 0 3px 5px #00000026;
    background-color: #f4f2fd;
    cursor: pointer;
}
.car_list_fare_item.active {
    border-color: #0070ee;
}
.car_fare_image {
    text-align: center;
}
.car_fare_image img {
    max-width: 125px;
}
.car_fare_instruct h3 {
    color: #646464;
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 10px;
}
.car_fare_instruct ul {
    padding-left: 0;
    list-style: none;
}
.car_fare_instruct ul li {
    color: #7D7C7C;
    font-size: 14px;
    display: flex;
    margin-bottom: 5px;
}
.car_fare_instruct ul li:last-child {
    margin-bottom: 0px;
}
.car_fare_price_confirm {
    text-align: right;
}
.car_fare_price_confirm h5 {
    color: #5A238D;
    font-weight: 400;
    font-size: 15px;
    text-decoration: line-through;
    margin-bottom: 0;
}
.car_fare_price_confirm h4 {
    color: #5A238D;
    font-size: 21px;
    font-weight: 700;
}
.back_arrow {
    display: flex;
    color: #5A238D !important;
    align-items: center;
    gap: 5px;
}
.fare_body_footer_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0 15px 0;
}
.fare_button_next {
    border: none;
    padding: 0 40px;
}
.step-tab {
    display: none !important;
}
.step-tab.show {
    display: block !important;
}
.progress-bar {
    position: fixed;
    width: 100%;
    display: none;
    z-index: 999;
}
.progress-bar span {
    display: block;
}
.progress {
    background: #5A238D;
    color: #fff;
    padding: 2px;
    width: 0;
}
.progress-bar.active {
    display: block;
}
.progress-bar.active .progress {
    animation: loader 1s ease;
}
@keyframes loader {
    0% {
        width: 0;
    }
    20% {
        width: 10%;
    }
    25% {
        width: 24%;
    }
    43% {
        width: 41%;
    }
    56% {
        width: 50%;
    }
    66% {
        width: 52%;
    }
    71% {
        width: 60%;
    }
    75% {
        width: 76%;
    }
    94% {
        width: 86%;
    }
    100% {
        width: 100%;
    }
}
.estimated_location_suggest {
    position: relative;
}
.estimated_location_dropdown {
    position: absolute;
    background: #fff;
    width: 100%;
    z-index: 99;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    display: none;
}
.estimated_location_dropdown ul {
    padding-left: 0;
}
.estimated_location_dropdown ul li {
    list-style: none;
    padding: 12px 15px;
    border-bottom: 1px solid #e6e6e6;
    cursor: pointer;
}
.estimated_location_dropdown ul li:hover {
    background: #24CD85;
    color: #fff;
}
.estimated_input_wrapper.active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 1px solid #ffcf4c;
}
.estimated_input_wrapper.active + .estimated_location_dropdown {
    display: block;
}
.fare_button_icon {
    display: flex;
    align-items: center;
    gap: 10px;
}
.luggage_list_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.luggage_list_item {
    box-shadow: 0 1px 3px #00000026, 0 1px 2px #00000026;
    background: #fdfdfd;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
.luggage_list_title h5 {
    margin-bottom: 0;
    color: #6728A1;
    font-size: 16px;
    font-weight: 700;
}
.luggage_list_title span {
    color: #7D7C7C;
    font-size: 13px;
    font-weight: 400;
}
.luggage_list_number {
    display: flex;
    align-items: center;
    width: 100px;
    margin: 0 auto;
    padding: 15px 0;
}
.luggage_count_minus,
.luggage_count_plus {
    border: 1px solid #5a238d;
    display: flex;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 100px;
}
.luggage_count {
    flex: 1;
    text-align: right;
    padding: 0 !important;
    font-size: 20px !important;
}
.extra_carry_list_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-top: 50px;
}
.extra_carry_list_item {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.extra_carry_list_item .luggage_list_number {
    margin: inherit;
    padding: 0;
}
.extra_carry_list_item .luggage_list_icon svg {
    height: 15px;   
}
.extra_carry_list_item .luggage_list_number svg {
    height: 10px;
}
.extra_carry_list_item .luggage_count_minus, .extra_carry_list_item .luggage_count_plus {
    height: 20px;
    width: 20px;
}
.extra_carry_list_item .luggage_list_title h5 {
    font-size: 14px;
    font-weight: 500;
}
.extra_carry_list_item .luggage_list_number {
    width: 80px;
}
.extra_carry_list_item .luggage_count {
    font-size: 18px !important;
}
.car_id {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}
.travel_data_top {
    display: flex;
    justify-content: space-between;
    background: #f6f6f6;
    padding: 0.7rem;
}
.estimated_input_wrapper_border {
    border-color: #cfcfcf;
}
.fare_details_section {
    border: 1px solid #dcdcdc;
    box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d;
    border-radius: 0.625rem;
}
.fare_car {
    background-color: rgb(103, 40, 161);
    padding: 4px 11px;
    border-radius: 0.375rem;
    font-size: 15px;
    color: #fff;
    display: inline-block;
}
.title_7 {
    color: #6728A1;
    font-size: 16px;
    font-weight: 700;
}
.fare_price {
    color: #5a238d;
    font-size: 15px;
}
.text_right {
    text-align: right;
}
.fare_details {
    padding: 1rem 0.7rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.fare_details_info {
    border-right: 2px solid #F1F1F1;
    padding-right: 30px;
    flex: 1;
}
.fare_details p,
.fare_details h4 {
    margin-bottom: 0;
}
.fare_timeline {
    align-items: start;
    margin-bottom: 0;
}
.fare_pin_margin {
    margin: 10px 0 15px 0;
}
.estimated_location_fare {
    margin-top: 10px;
}
.fare_time {
    display: inline-block;
    color: #6728A1;
    width: 40px;
    font-size: 15px;
}
.fare_plus {
    left: -8px;
}
.estimated_location_fare svg {
    position: relative;
    top: 3px;
}
.title_8 {
    color: #5A238D;
    font-weight: 400;
    padding-bottom: 10px;
}
.fare_details_date {
    margin-left: 45px;
    margin-bottom: 15px;
}
.fare_comment {
    padding-left: 30px;
}
.fare_comment .title_8 {
    font-size: 17px;
}
.fare_comment .title_8 span {
    font-size: 14px;
    color:#888888;
}
.fare_comment textarea {
    min-height: 135px;
    border: 1px solid #cfcfcf;
    border-radius: 10px;
}
.fare_retour {
    margin-top: 20px;
}
.contact_details_column {
    display: flex;
    gap: 20px;
}
.mt_20 {
    margin-top: 20px;
}
.fare_suggest {
    width: 250px;
}